development:
  adapter: mysql2
  database: land_info
  username: root
  password: password 
  host: localhost 

test:
  adapter: mysql2
  database: land_info_test
  username: root
  password: password 
  host: localhost 

production:
  adapter: mysql2
  database: land_info_test
  username: root
  password: password 
  host: localhost 
