<h1>Contact Us</h1>

<p>
This application was developed by <a href="mailto:pacificweb.services@pwgsc-tpsgc.gc.ca">Pacific Web Services</a> and is being managed at <a href="http://tbs-sct.ircan.gc.ca/projects/landinfodb">Intellectual Resources Canada</a>.  You can use the IRCan website to follow the project's activity, report an issue, or post in the discussion forums.
</p>
