<h1>Contact Us</h1>

<p>
This application was developed by <a href="mailto:pacificweb.services@pwgsc-tpsgc.gc.ca">Pacific Web Services</a> and is being managed at <a href="http://tbs-sct.ircan.gc.ca/projects/landinfodb">Intellectual Resources Canada</a>.  You can use the IRCan website to follow the project's activity, report an issue, or post in the discussion forums.
</p>

<p>
<strong>Application Owner/Sponsor</strong><br />
Mick Mills<br />
604-666-7727<br />
<a href="mailto:mick.mills@pwgsc-tpsgc.gc.ca">mick.mills@pwgsc-tpsgc.gc.ca</a>
</p>

<p>
<strong>Lead Developer</strong><br />
Adam Soltys<br />
780-497-3542<br />
<a href="mailto:adam.soltys@pwgsc-tpsgc.gc.ca">adam.soltys@pwgsc-tpsgc.gc.ca</a>
</p>