<h1>Bienvenue</h1>

<p>Les renseignements sont affich&eacute;s en anglais seulement dans ce site; ils visent les fonctionnaires f&eacute;d&eacute;raux qui travaillent dans une r&eacute;gion d&eacute;sign&eacute;e unilingue aux fins de la langue de travail. Le site de TPSGC contient des renseignements g&eacute;n&eacute;raux bilingues sur Travaux publics et Services gouvernementaux Canada <a href="http://www.tpsgc-pwgsc.gc.ca">http://www.tpsgc-pwgsc.gc.ca</a>.</p>

<h1>Welcome</h1>

<p>Information on this site is posted in English only. It is strictly for the use of federal public servants working in designated unilingual regions for language of work purposes. Bilingual, general information on Public Works and Government Services Canada can be found on the PWGSC National Internet site <a href="http://www.tpsgc-pwgsc.gc.ca">http://www.tpsgc-pwgsc.gc.ca</a>.</p>