<h1>Help</h1>

<p>You can use the navigation on the left hand side of the page to view and manage the database. There are nine primary types of records being stored: </p>

<ul>
<li>Survey Files</li> 
<li>Plan Files</li> 
<li>Marine Files</li>
<li>Provinces</li>
<li>Land Districts</li>
<li>Features</li>
<li>Locations</li>
<li>Regions</li>
<li>Surveyors</li>
</ul>

<p>The records may be sorted by the values in a column by clicking on the column header. Each record contains links to edit or show more information contained in the record.</p>

<p>Navigation through pages of records is located top and the bottom right of the tables. New records for a database may be created by clicking the <img src="../../../images/active_scaffold/default/add.gif" /> <strong>Create New</strong> link to the top right of the corresponding table. Tables may also be searched by clicking the <img src="../../../images/active_scaffold/default/magnifier.png" /> <strong>Search</strong> link.</p>
