<h1>Help</h1>

<p>The information database displays data for three categories: Survey Files, Plan Files, and Marine Files.</p>
<p>Each category displays a table of records contained in the database. The records may be sorted by the values in a column by clicking on the column header. Each record has options to edit, delete, or show more information contained in the record. Navigation through pages of records is located in the bottom right of the page. New records for a database may be created by clicking the "Create New" link to the top right of the corresponding table.</p>