<h1>Help</h1>

<p>There are nine primary types of records being stored: </p>

<ul><li>Survey Files</li> 
<li>Plan Files</li> 
<li>Marine Files</li>
<li>Provinces</li>
<li>Land Districts</li>
<li>Features</li>
<li>Locations</li>
<li>Regions</li>
<li>Surveyors</li>
</ul>

<p>Each category displays a table of records contained in the database. The records may be sorted by the values in a column by clicking on the column header. Each record has options to edit, delete, or show more information contained in the record. Navigation through pages of records is located top and the bottom right of the tables. New records for a database may be created by clicking the "Create New" link to the top right of the corresponding table.</p>