<h1>Help</h1>

<p>
This website is maintained by <a href="mailto:pacificweb.services@pwgsc.gc.ca">Pacific Web Services</a>.
You can email us directly or report issues at <a href="http://tbs-sct.ircan.gc.ca/projects/landinfodb">Intellectual Resources Canada</a>.  
</p>
<p>
User accounts for this web application must be requested manually and approved by ITSB.  
</p>
<p>
In order to view survey drawing files with a .tif extension, you may wish to install <a href="http://www.alternatiff.com/">AlternaTIFF</a>, a plugin that allows you to view TIFF files in your browser.
</p>
