<h1>Welcome</h1>

<p>
This application was developed to replace a Lotus Approach database used by the Pacific Geomatics team for tracking land survey files.
</p>

<p>
There are three primary types of records being stored:
</p>

<ul>
  <li>Survey Files</li>
  <li>Plan Files</li>
  <li>Marine Files</li>
</ul>

<p>
The application also tracks secondary records for land districts, locations, and geographical features.  The land records may also have associated drawing files.
</p>

<p>
If you require assistance or would like more information, please contact <a href="mailto:pacificweb.services@pwgsc-tpsgc.gc.ca">Pacific Web Services</a>
</p>
