<h1>Welcome</h1>

<p>
This application replaces the Lotus Approach database previously used by the Pacific Geomatics team for tracking land survey files, plans, and reservations.
</p>

<p>
If you require assistance or would like more information, please contact <a href="mailto:pacificweb.services@pwgsc-tpsgc.gc.ca">Pacific Web Services</a>
</p>
